// Reset
html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: 200;
}

/* 
---------- 
Colours
----------
*/

$colour_primary-05: rgba(64, 156, 42, 0.05);
// $colour_primary-10: rgba(64, 156, 42, 0.1);
$colour_primary-10: rgba(83, 173, 141, 0.1);
$colour_primary-20: rgba(83, 173, 141, 0.2);
$colour_primary-10-full: rgba(237, 246, 235, 1);
$colour_primary-30: rgba(64, 156, 42, 0.3);
$colour_primary-50: rgba(64, 156, 42, 0.5);
$colour_primary-80: rgba(83, 173, 141, 0.8);
// $colour_primary: rgb(64, 156, 42);
$colour_primary_lighter: #85d3b7;
$colour_primary_light: rgb(96, 198, 161); // #60c6a1;
$colour_primary: rgb(83, 173, 141); //#53ad8d;
$colour_primary_dark: rgb(69, 144, 117); //#459075;
$colour_primary_darkest: #276750;
$colour_secondary: rgb(237, 125, 43); // #ed7d2b;
$colour_secondary-80: rgba(237, 125, 43, 0.8); // #ed7d2b;
$colour_secondary-80-full: #f88530;

$colour-grey-lighter: #f1f1f1;
$colour-grey: #999999;
$colour-grey-dark: #585858;
$colour-grey-darkest: #343434;
$colour-white: #fff;
$colour-white-30: rgba(255, 255, 255, 0.3);

/* 
---------- 
Header
----------
*/

nav {
	width: 100%;
	background-color: $colour-white;
	position: fixed;
	z-index: 100;
	ul {
		display: grid;
		grid-template-columns: 50px 130px auto 100px 50px;
		grid-template-rows: 40px;
		list-style-type: none;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	li:first-child {
		cursor: pointer;
	}
	li:nth-child(2) {
		a {
			// padding-left: 100px;
		}
	}
	li:nth-child(4) {
		a {
			padding: 5px 10px;
			background-color: $colour_secondary;
			border-radius: 5px;
			color: $colour-white;
		}
	}

	li:last-child {
		cursor: pointer;
	}
}

/* 
---------- 
Structure
----------
*/

.test {
	margin-top: 40px;
}

.parent {
	height: 400px;
	width: 100%;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		background-color: #fff;
		padding: 20px 40px;
	}
}

@mixin text-underline-crop($background) {
	text-shadow: .03em 0 $background, -.03em 0 $background,
		0 .03em $background, 0 -.03em $background, .06em 0 $background,
		-.06em 0 $background, .09em 0 $background,
		-.09em 0 $background, .12em 0 $background,
		-.12em 0 $background, .15em 0 $background,
		-.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
	background-image: linear-gradient($color-text, $color-text);
	background-size: 1px 1px;
	background-repeat: repeat-x;
	background-position: 0% 95%;
}

@mixin text-selection($selection) {
	&::selection {
		@include text-underline-crop($selection);

		background: $selection;
	}

	&::-moz-selection {
		@include text-underline-crop($selection);

		background: $selection;
	}
}

@mixin link-underline($background, $text, $selection) {
	@include text-underline-crop($background);
	@include text-underline($background, $text);
	@include text-selection($selection);

	color: $text;
	text-decoration: none;

	*,
	*:after,
	&:after,
	*:before,
	&:before {
		text-shadow: none;
	}

	&:visited {
		color: $text;
	}
}

main {
	width: 100%;
	min-height: 100%;
}

#main_body {
	padding-top: 40px;
}

div.show_left_menu {
	section.left_menu {
		display: block;
		-webkit-animation: slide-right .3s ease-out;
		-moz-animation: slide-right .3s ease-out;
	}

	@-webkit-keyframes slide-right {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateX(0);
		}
	}
	@-moz-keyframes slide-right {
		0% {
			opacity: 0;
			-moz-transform: translateX(-100%);
		}
		100% {
			opacity: 1;
			-moz-transform: translateX(0);
		}
	}
}

div.show_right_menu_from_page,
div.show_right_menu {
	section.right_menu {
		display: block;

		-webkit-animation: slide-left .3s ease-in;
		-moz-animation: slide-left .3s ease-in;
	}

	@-webkit-keyframes slide-left {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateX(0);
		}
	}
	@-moz-keyframes slide-left {
		0% {
			opacity: 0;
			-moz-transform: translateX(100%);
		}
		100% {
			opacity: 1;
			-moz-transform: translateX(0);
		}
	}
}

.left_menu {
	position: fixed;
	display: none;
	background-color: $colour_primary-10-full;
	width: 280px;
	height: 100% !important;
	left: 0px;
	top: 40px;
	transition: width 2s linear;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	z-index: 1;

	li {
		padding: 8px 10px;

		a {
			display: grid;
			grid-template-columns: 50px auto;
			grid-gap: 10px;

			div:first-child img {
				border-radius: 50%;
				width: 50px;
				height: 50px;
			}

			div:last-child {
				width: 100%;
				h4 {
					font-weight: 400;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
}

section.right_menu::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
section.right_menu::-webkit-scrollbar-thumb {
	background: transparent;
}

section.right_menu {
	position: fixed;
	display: none;
	background-color: $colour-grey-darkest;
	width: 300px;
	height: 100% !important;
	right: 0px;
	top: 40px;
	transition: width 2s linear;
	box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.2);
	font-family: 'Iceburg', sans-serif;
	padding: 10px;
	z-index: 1;
	overflow-y: scroll;

	div.close_view {
		span {
			position: absolute;
			top: 107px;
			padding: 3px 8px;

			border-radius: 2px;
			width: fit-content;
			color: #fff;
			font-weight: bold;
			font-family: 'Iceberg', cursive;
			-webkit-font-smoothing: antialiased;
			cursor: pointer;
		}
		span.exit {
			background-color: rgba(237, 125, 43, 0.9);
		}
		span.continue {
			background-color: $colour_primary_dark;
			left: 60px;
		}
	}

	div.right_menu_header {
		display: flex;
		height: 100px;
		align-items: center;
		margin-bottom: 40px;
		h3 {
			justify-self: left;
			width: 50%;
			color: $colour-white;
			font-family: 'Iceberg', cursive;
			-webkit-font-smoothing: antialiased;
			font-size: 30px;
			line-height: 30px;
		}
		div {
			width: 50%;
			display: flex;
			justify-content: flex-end;
		}
		img {
			justify-content: end;
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
	}

	ul:last-child {
		margin-bottom: 55px;
	}

	li {
		text-align: right;
		margin-bottom: 2px;
		display: flex;
		justify-content: flex-end;
		span {
			font-weight: 400;
			font-size: 12px;
			background-color: $colour-grey;
			padding: 3px 5px;
			border-radius: 3px;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	li:first-child {
		font-family: 'Iceberg', cursive;
		-webkit-font-smoothing: antialiased;
		font-size: 20px;
		margin: 20px 0px 15px;
		color: $colour-grey;
	}
}

.round_border {
	border-radius: 15px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.fa-youtube {
	position: absolute;
	-webkit-text-fill-color: #fff;
	font-size: 50px;
	top: 155px;
}

/* 
---------- 
Homepage
----------
*/

.header {
	height: 100vh;
	margin-bottom: -40px;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f1f1f1' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23cff3e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
section.title {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 300px;
	h1 {
		font-size: 32px;
		@media (min-width: 768px) {
			font-size: 50px;
		}
		@media (min-width: 999px) {
			font-size: 60px;
		}
	}
}

section.into_image {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 0px;
	img {
		height: 50vh;
	}
	@media (min-width: 460px) {
		img {
			height: 60vh;
		}
	}
	@media (min-width: 600px) {
		img {
			height: 70vh;
		}
	}
	@media (min-width: 1200px) {
		img {
			height: 80vh;
		}
	}
}

section.style {
	padding: 160px 10px 260px;
	background-color: $colour_primary;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234ea385' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23459075' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2350a788' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23479478' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2352ab8b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2349987b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2354af8f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234a9b7f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2356b392' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%234c9f82' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2358b795' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%234ea385' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	div.wrapper {
		max-width: 1050px;
		margin: 0 auto;
	}
	div.title {
		display: flex;
		justify-content: flex-end;
		h3 {
			text-align: right;
			color: $colour-white;
			padding: 30px;
			font-size: 30px;
			@media (min-width: 600px) {
				font-size: 30px;
				padding: 50px;
				width: 70%;
			}
		}
	}

	div.sub_title {
		display: flex;
		justify-content: flex-start;
		p {
			color: $colour-white;
			font-size: 18px;
			font-weight: 100;
			padding: 30px;
			@media (min-width: 600px) {
				font-size: 22px;
				padding: 50px;
				width: 62%;
			}
			@media (min-width: 1050px) {
				font-size: 22px;
				padding: 50px;
				width: 55%;
			}
		}
	}

	ul {
		display: grid;
		grid-template-columns: 150px 150px;
		grid-template-rows: 190px 190px 190px;
		grid-gap: 20px;
		margin: 0 auto;
		width: 320px;
		@media (min-width: 540px) {
			grid-template-columns: 150px 150px 150px;
			grid-template-rows: 190px 190px;
			width: 490px;
		}
		@media (min-width: 700px) {
			grid-gap: 30px;
			width: 510px;
		}
		@media (min-width: 1050px) {
			grid-template-columns: repeat(6, 150px);
			grid-template-rows: 190px;
			width: 1000px;
			grid-gap: 20px;
		}

		li {
			cursor: pointer;
			button.circle,
			div.circle {
				background-color: $colour_secondary;
				border: 2px solid $colour-white;
				height: 150px;
				width: 150px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				cursor: pointer;
				i {
					color: $colour-white;
					font-size: 60px;
				}
			}
			div.percentage {
				position: absolute;
				background-color: $colour_primary_dark;
				top: -10px;
				right: -10px;
				height: 60px;
				width: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 1px solid $colour_primary_lighter;
				p {
					font-size: 22px;
					color: $colour-white;
				}
				span {
					display: inline;
					color: $colour-white;
				}
				span:last-child {
					display: none;
				}
			}
			svg {
				fill: $colour-white;
				width: 60px;
				height: 60px;
			}
			h4 {
				text-align: center;
				padding: 10px 0px;
				color: $colour-white;
			}
		}
	}
}

section.video {
	background-color: $colour_primary-10;

	div.wrapper {
		max-width: 900px;
		margin: auto;
		padding: 0px 20px;

		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 'heading' 'video' 'intro';

		@media (min-width: 750px) {
			grid-template-columns: auto 350px;
			grid-template-rows: repeat(2, auto);
			grid-template-areas: 'heading video' 'intro video';
			grid-gap: 20px;
		}
	}

	div.heading {
		grid-area: heading;
		h3 {
			font-size: 30px;
			padding: 125px 0px;
			color: $colour_primary_dark;
			font-weight: 400;
			max-width: 591px;
			margin: auto;
			@media (min-width: 750px) {
				padding-bottom: 30px;
			}
		}
	}
	div.video_link {
		grid-area: video;
		background-color: $colour-white-30;
		width: 350px;
		height: 457px;
		margin: auto;
		border-radius: 15px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
		position: relative;
		cursor: pointer;
		@media (min-width: 750px) {
			margin: 125px 0px;
			position: sticky;
			position: -webkit-sticky;
			top: 70px;
		}
		i.fa-youtube {
			top: 210px;
		}
	}
	div.intro {
		grid-area: intro;
		padding: 125px 0px;
		max-width: 500px;
		margin: auto;
		@media (min-width: 750px) {
			padding-top: 0px;
		}
		ul {
			padding: 20px;
		}
		li {
			display: grid;
			grid-template-columns: 20px auto;
			grid-gap: 20px;
			margin-bottom: 30px;
			p {
				line-height: 1.5rem;
			}
		}
		i {
			color: $colour_secondary;
			margin-top: 7px;
		}
		p {
			color: $colour_primary_dark;
			font-weight: 400;
		}
		p.overview {
			line-height: 2rem;
			padding-bottom: 30px;
		}
		a {
			background-color: $colour_secondary;
			width: 200px;
			text-align: center;
			padding: 15px 20px;
			border-radius: 30px;
			margin: auto;
			color: $colour-white;
			font-weight: 400;
		}
	}
}

section.video_overlay {
	div.video {
		z-index: 100;
		height: 457px;
		width: 350px;
		border-radius: 15px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -175px;
		margin-top: -230px;
	}
}
section.contact_overlay {
	div.contact_box {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			display: grid;
			grid-template-columns: 80px auto;
			margin-bottom: 15px;
			svg {
				width: 40px;
				height: 40px;
			}
			div:last-child {
				display: flex;
				align-items: center;
			}
		}
	}
	div.contact_box {
		z-index: 100;
		background-color: $colour-grey-lighter;
		height: 457px;
		width: 350px;
		border-radius: 15px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -175px;
		margin-top: -230px;
	}
}

section.video_overlay,
section.contact_overlay {
	display: none;
	z-index: 100;
	div.wrapper {
		position: fixed;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
	}

	div.exit {
		position: fixed;
		right: 20px;
		top: 60px;
		cursor: pointer;
		color: #fff;
		width: 50px;
		height: 50px;
		background-color: rgba(0, 0, 0, 0.15);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		font-size: 20px;
		box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.05);
		z-index: 100;
		&:hover {
			background-color: $colour_primary;
		}
	}
}

section.video_overlay.display {
	display: block;
	z-index: 100;
}
section.contact_overlay.display {
	display: block;
	z-index: 100;
}

section.clients {
	display: none;
	margin: 120px 0px;
	@media (min-width: 750px) {
		margin: 150px 0px;
	}
	overflow: hidden;
	div.clients_wrapper {
		display: flex;
		justify-content: center;
	}
	h3 {
		text-align: center;
		color: $colour_primary_dark;
		font-size: 30px;
		padding-bottom: 20px;
	}
	ul.list_wrapper {
		display: flex;
		justify-content: center;
		height: 158px;

		li {
			ul {
				margin: 0px auto;
				height: 130px;

				li {
					position: absolute;

					img {
						padding: 3px;
						background: #fff;
					}
				}
			}
		}
	}
	li {
		width: 100px;
		@media (min-width: 750px) {
			width: 120px;
		}
	}
	#slideshow1 li:nth-of-type(1) {
		animation-name: fader;
		animation-delay: 3.2s;
		animation-duration: 1s;
		z-index: 20;
	}
	#slideshow1 li:nth-of-type(2) {
		z-index: 10;
		display: none;
	}
	#slideshow1 li:nth-of-type(n + 3) {
		display: none;
	}
	#slideshow2 li:nth-of-type(1) {
		animation-name: fader;
		animation-delay: 2.5s;
		animation-duration: 1s;
		z-index: 20;
	}
	#slideshow2 li:nth-of-type(2) {
		z-index: 10;
	}
	#slideshow2 li:nth-of-type(n + 3) {
		display: none;
	}
	#slideshow3 li:nth-of-type(1) {
		animation-name: fader;
		animation-delay: 2.9s;
		animation-duration: 1s;
		z-index: 2;
	}
	#slideshow3 li:nth-of-type(2) {
		z-index: 1;
	}
	#slideshow3 li:nth-of-type(n + 3) {
		display: none;
	}

	@keyframes fader {
		from {
			opacity: 1.0;
		}
		to {
			opacity: 0.0;
		}
	}
}

/* Scrollbar styles */
section.case::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

section.case::-webkit-scrollbar-track {
	border: 1px solid transparent;
	border-radius: 10px;
}

section.case::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
	@media (min-width: 950px) {
		background: $colour_primary-30;
	}
}

section.case::-webkit-scrollbar-thumb:hover {
	background: transparent;
	@media (min-width: 950px) {
		background: $colour_primary-50;
	}
}

section.case {
	overflow-x: scroll;
	overflow-y: hidden;
	max-width: 900px;
	margin: auto;
	margin-top: 180px;
	@media (min-width: 1200px) {
		max-width: 1140px;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(6, 120px);
		grid-template-rows: auto;
		grid-gap: 10px;
		margin: 110px 40px 20px;
		@media (min-width: 550px) {
			grid-template-columns: repeat(6, 180px);
		}
		@media (min-width: 750px) {
			grid-template-columns: repeat(6, 230px);
		}
		@media (min-width: 1200px) {
			grid-template-columns: repeat(6, 300px);
			margin: 160px 40px 20px;
		}
	}

	li {
		position: relative;

		div.case_image {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
			border-radius: 5px;
			@media (min-width: 550px) {
				height: 250px;
			}
			@media (min-width: 750px) {
				height: 315px;
			}
			@media (min-width: 1200px) {
				height: 400px;
			}
		}

		div.case_title {
			position: absolute;
			bottom: 0px;
			height: 150px;
			background: rgb(0, 0, 0);
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(255, 255, 255, 0) 100%
			);
			width: 100%;
			display: flex;
			align-items: flex-end;
			padding: 10px 10px 3px;
			border-radius: 5px;
			h3 {
				color: $colour-white;
				font-size: 16px;
				font-weight: 400;
				@media (min-width: 550px) {
					font-size: 18px;
				}
			}
		}
	}
}

section.case_wrapper {
	margin: auto;
	margin-top: -325px;
	max-width: 900px;
	@media (min-width: 550px) {
		margin-top: -405px;
	}
	@media (min-width: 750px) {
		margin-top: -470px;
	}
	@media (min-width: 950px) {
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
		margin-top: 80px;
	}
	h2 {
		font-size: 30px;
		color: $colour_primary_dark;
		font-weight: 400;
		width: 100%;
		text-align: center;
		float: left;
		padding: 30px;
		@media (min-width: 1200px) {
			padding: 50px;
			font-size: 40px;
		}
	}
	div {
		background-color: $colour_primary-10;
		border-radius: 15px;
		height: 333px;
		margin: 20px;
		@media (min-width: 550px) {
			height: 415px;
		}
		@media (min-width: 750px) {
			height: 475px;
		}
		@media (min-width: 950px) {
			margin-left: 0px;
			margin-right: 60px;
		}
		@media (min-width: 1200px) {
			max-width: 1140px;
			margin-top: -670px;
			height: 621px;
		}
	}
}

section.related_cases {
	margin-bottom: 150px;
	section.case {
		margin-top: 0px;
	}
}

/* 
---------- 
Case Study
----------
*/

.case_study {
}

.case_header {
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 10px;

	.title_wrapper {
		max-width: 900px;
		margin: auto;
		height: 80vh;
	}

	.title_box {
		position: absolute;
		bottom: 150px;
		// width: 900px;
		margin: auto;
	}

	h1 {
		font-size: 60px;
		color: $colour-white;
		font-weight: 400;
		text-decoration: 2px 2px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
}

.to_make_the_sticky_menu_work_sad_face {
	transform: skewY(-5deg);
	// background-color: $colour_primary-10-full;
	background-color: #4c9c80;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(177,640,325)'%3E%3Cstop offset='0' stop-color='%234c9c80'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='606' height='505' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	border-top: 4px solid #fff;
	margin-top: -100px;
	border-bottom: 4px solid $colour_primary;

	h1,
	h2 {
		color: $colour-white;
		font-weight: 400;
		font-size: 40px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
	h2 {
		font-size: 28px;
		color: $colour-grey-darkest;
	}
}
.case_content {
	position: relative;
	max-width: 900px;
	margin: auto;
	// margin-top: -100px;
	padding: 10px;

	div.content_wrapper {
		transform: skewY(5deg);
		max-width: 900px;
		margin: auto;
	}

	section.stats {
		margin: 70px auto 50px;
		width: 350px;
		transform: skewY(5deg);
		z-index: 100;
		@media (min-width: 600px) {
			max-width: 300px;
			position: -webkit-sticky;
			position: relative;
			top: 100px;
			float: right;
			margin: 70px 20px 0px 0px;
		}
		@media (min-width: 900px) {
			position: -webkit-sticky;
			position: sticky;
			top: 110px;
			float: right;
			margin: 170px 20px -296px 0px;
		}

		ul {
			background-color: $colour-white;
			padding: 20px;
			border-radius: 15px;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			position: relative;
		}

		li:first-child {
			margin-bottom: 20px;
			display: flex;
			justify-content: flex-end;

			div.case_links {
				position: absolute;
				left: 20px;
				width: 155px;
				display: grid;

				i {
					color: $colour_primary;
				}
			}
			div.case_logo {
				height: 100px;
				width: 100px;
				background-position: center;
				background-size: cover;
				/* display: flex; */
				margin-top: -50px;
				border-radius: 10px;
				border: 1px solid #fff;
				box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);
			}
		}

		li.quote {
			display: grid;
			grid-template-columns: 20px auto 20px;
			grid-template-rows: auto;
			margin: 15px 0px;

			span {
				display: flex;
				justify-content: center;
				font-weight: 400;
				font-size: 20px;
			}

			p {
				text-align: center;
				padding: 10px 0px;
			}
		}

		h4 {
			float: left;
			font-weight: 400;
		}

		span {
			text-align: right;
		}

		li.topic a {
			font-size: 13px;
			padding: 5px 10px;
			background: $colour_primary-20;
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
	}

	section.challenge {
		margin: 50px 0px;
		padding: 20px 0px;
		@media (min-width: 600px) {
			margin: 100px 0px 70px;
			padding-right: 10px;
			display: flow-root;
		}

		ul {
			padding: 20px 10px 20px 50px;
			list-style-type: disc;
		}

		li {
			display: list-item;
		}
	}

	section.solution {
		margin: 50px 0px;
		background-color: $colour_primary-80;
		border-radius: 15px;
		padding: 20px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		color: #fff;
		border: 1px solid $colour_primary_dark;
		ul li span {
			color: $colour-white;
		}
		@media (min-width: 600px) {
			margin: 0px 0px 70px;
			padding-right: 310px;
			display: grid;
			width: 100%;
		}

		h2 {
			color: $colour-white;
		}

		ul {
			padding: 20px 10px 20px 40px;
			list-style-type: disc;
		}

		li {
			display: list-item;
			color: $colour-white;
		}
	}

	section.step {
		margin-bottom: -20px;
		// height: -webkit-fill-available;
		@media (min-width: 900px) {
			margin-bottom: -40px;
		}
		h2 {
			padding-bottom: 50px;
		}
		figcaption {
			p {
				display: none;
			}
		}
	}
}

section.hindsight {
	padding: 80px 10px;
	margin: auto;
	max-width: 900px;

	@media (min-width: 600px) {
		padding: 160px 10px;
	}

	h2 {
		font-size: 28px;
		color: $colour-grey-darkest;
	}

	p {
		font-weight: 400;
		font-size: 14px;
		color: #999;
		padding: 20px;
	}

	ul {
		margin: 20px;
		padding-left: 20px;
	}

	li {
		display: list-item;
	}
}

/* 
---------- 
Photoswipe
----------
*/

.my-gallery {
	width: 100%;
	// float: left;
	margin-bottom: 115px;
}
.my-gallery img {
	width: 100%;
	height: auto;
}
.my-gallery figure {
	display: block;
	display: grid;
	grid-template-columns: auto;
	margin: 0px;
	margin-bottom: -5px;
	@media (min-width: 600px) {
		grid-template-columns: 230px auto;
		grid-gap: 30px;
	}

	figcaption {
		span {
			display: none;
		}
	}
}

.my-gallery figure:last-child {
	a.step {
		p.step {
			height: 30px;
		}
	}
}

.my-gallery figcaption {
	display: block;
}

.pswp__caption__center {
	text-align: left;
	max-width: 900px;
	margin: 0 auto;
	font-size: 13px;
	padding: 10px;
	line-height: 20px;
	color: #ccc;
	background-color: #000;
	margin-bottom: 20px;
	// height: 600px;

	div.step_title {
		display: grid;
		grid-template-columns: 80px auto;
		grid-gap: 10px;
	}

	h3,
	li,
	span {
		color: $colour-white;
	}

	h3 {
		line-height: 30px;
	}

	ul {
		margin: 20px 20px 0px;
	}

	li {
		display: list-item;
		margin-bottom: 5px;
	}

	span {
		background-color: $colour_primary;
		width: 80px;
		height: 30px;
		text-align: center;
		border-radius: 5px;
		font-weight: 400;
		font-size: 14px;
		line-height: 30px;
	}
}

a.step {
	text-align: right;
	img {
		width: 200px;
		max-width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 4px solid $colour-grey-darkest;
	}
	p {
		margin-right: 73px;
		margin-top: -10px;
		padding: 70px 20px 70px 0px;
		border-right: 4px solid $colour-grey-darkest;
		font-weight: 400;
		height: 100%;
	}
	p.next_time {
		width: 120px;
		border: none;
		padding: 0px;
		margin: 0px;
		text-align: center;
		border-top: 4px solid #343434;
		float: right;
		margin-right: 17px;
		padding-top: 15px;
	}
}

figcaption.details {
	display: none;
	@media (min-width: 600px) {
		display: block;
	}
	@media (min-width: 900px) {
		display: block;
		padding-right: 330px;
	}
	h3 {
		font-size: 24px;
		padding: 60px 0px 0px;
	}
	ul {
		margin: 20px;
		padding-left: 20px;
	}
	li {
		display: list-item;
	}
}

/* 
---------- 
About
----------
*/
main.about {
	section.about_header {
		div.inner_header {
			max-width: 900px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: auto;
			grid-template-areas: 'intro' 'video' 'quote';

			@media (min-width: 600px) {
				grid-template-columns: 260px auto;
				grid-template-areas: 'video intro' 'quote quote';
			}
		}

		div.video {
			grid-area: video;
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 10px;
			margin-top: 80px;
			position: relative;
			div.inner_video {
				width: 240px;
				height: 350px;
				background-size: cover;
				border-radius: 15px;
				box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
				cursor: pointer;
			}
		}
		div.intro {
			grid-area: intro;

			h1 {
				text-align: center;
				font-size: 24px;
				font-weight: 400;
				padding: 40px 10px;
			}

			p {
				padding: 0px 10px;
				font-weight: 200;
				text-align: center;
				@media (min-width: 600px) {
					padding: 0px 35px;
				}
			}

			ul {
				display: grid;
				grid-template-columns: auto auto;
				margin: 40px 10px 0px;
			}

			li.left {
				justify-content: flex-end;
				margin-right: 25px;
				div.outer {
					margin-right: 4px;
				}
				div.inner {
					img {
						position: absolute;
						bottom: -25px;
						@media (min-width: 800px) {
							width: 150px;
							height: 150px;
							bottom: -60px;
						}
					}
				}
			}

			li.right {
				justify-content: flex-start;
				margin-left: 25px;
				div.outer {
					margin-left: 4px;
				}
				div.inner {
					img {
						@media (min-width: 800px) {
							width: 130px;
							height: 130px;
							margin-left: 2px;
						}
					}
				}
			}

			li {
				position: relative;
				display: flex;
				align-items: center;
				cursor: pointer;
				div.outer {
					width: 120px;
					height: 120px;
					background-color: $colour_primary;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					@media (min-width: 800px) {
						width: 170px;
						height: 170px;
					}
				}
				div.inner {
					width: 95%;
					height: 95%;
					border-radius: 50%;
					border: 1px dashed #fff;
					display: flex;
					justify-content: center;
					align-items: flex-end;

					img {
						width: 90px;
						height: 90px;
					}
				}
				a.ribbon_link {
					position: absolute;
					width: 128px;
					@media (min-width: 800px) {
						width: 178px;
					}
				}
				span.ribbon {
					font-family: 'Economica', sans-serif;
					background: $colour_primary; //$colour_primary_dark;
					@media (min-width: 800px) {
						height: 40px;
					}
					background: -webkit-gradient(
						linear,
						left top,
						left bottom,
						from($colour_primary_dark),
						to($colour_primary_darkest)
					);
					background: -webkit-linear-gradient(
						top,
						$colour_primary_dark,
						$colour_primary_darkest
					);
					background: -moz-linear-gradient(
						top,
						$colour_primary_dark,
						$colour_primary_darkest
					);
					background: -ms-linear-gradient(
						top,
						$colour_primary_dark,
						$colour_primary_darkest
					);
					background: -o-linear-gradient(
						top,
						$colour_primary_dark,
						$colour_primary_darkest
					);
					background-image: -ms-linear-gradient(
						top,
						$colour_primary_dark 0%,
						$colour_primary_darkest 100%
					);
					bottom: 0.25em;
					-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
					-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
					box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
					position: absolute;
					text-align: center;
					width: 100%;

					span.ribbon-stitches-top {
						margin-top: 2px;
						border-top: 1px dashed rgba(0, 0, 0, 0.2);
						-moz-box-shadow: 0px 0px 2px
							rgba(0, 0, 0, 0.5);
						-webkit-box-shadow: 0px 0px 2px
							rgba(0, 0, 0, 0.5);
						box-shadow: 0px 0px 2px
							rgba(255, 255, 255, 0.5);
					}

					strong.ribbon-content:before {
						left: 0;
						border-width: 0.25em 0 0 0.25em;
					}
					strong.ribbon-content:after {
						right: 0;
						border-width: 0.25em 0.25em 0 0;
					}
					strong.ribbon-content:before,
					strong.ribbon-content:after {
						border-color: $colour_primary_dark transparent
							transparent transparent;
						position: absolute;
						display: block;
						border-style: solid;
						bottom: -0.25em;
						content: '';
					}
					span.link_title {
						color: #fff;
						display: block;
						font-size: 1em;
						margin: 0px;
						padding: 0.25em;
						text-shadow: #d65c5c 0 1px 0;
						-webkit-transition: all 0.25s ease-in-out;
						-moz-transition: all 0.25s ease-in-out;
						-o-transition: all 0.25s ease-in-out;
						-ms-transition: all 0.25s ease-in-out;
						transition: all 0.25s ease-in-out;
					}
				}
				span.ribbon:before,
				span.ribbon:after {
					content: '';
					position: absolute;
					display: block;
					bottom: -0.25em;
					border: 0.75em solid $colour_primary_darkest;
					z-index: -1;
					@media (min-width: 800px) {
						border: 1.1em solid $colour_primary_darkest;
					}
				}
				span.ribbon:before {
					left: -0.8em;
					border-right-width: 0.25em;
					border-left-color: transparent;
					-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
					-moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
					box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
					@media (min-width: 800px) {
						left: -1.1em;
					}
				}
				span.ribbon:after {
					right: -0.8em;
					border-left-width: 0.25em;
					border-right-color: transparent;
					-webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
					-moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
					box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
					@media (min-width: 800px) {
						right: -1.1em;
					}
				}
			}
		}
	}

	section.quote {
		grid-area: quote;
		text-align: center;
		padding: 200px 20px 120px;
		max-width: 600px;
		margin: 0 auto;

		h2 {
			font-size: 24px;
		}
	}
	#separator {
		height: 80px;
	}
	#my-story {
		display: none;
	}
	section.overview {
		max-width: 900px;
		margin: 0 auto;
		padding: 0px 10px;
		display: grid;
		grid-template-columns: auto;
		@media (min-width: 600px) {
			grid-template-columns: auto 260px;
		}
		h3 {
			font-size: 24px;
			font-weight: 400;
			padding: 0px 0px 20px;
		}
		ul {
			padding: 0px 50px;
			margin-bottom: 80px;
		}
		li {
			display: list-item;
			font-size: 18px;
			margin-bottom: 20px;
			font-weight: 200;
			span {
				display: inline;
				font-weight: 200;
				@include link-underline(#fff, #343434, #e0e0e0);
			}
		}
		div:last-child {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	section.stages {
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-o-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
		background-color: $colour_primary;
		padding: 150px 10px 100px;
		width: 100%;
		margin: 200px 0px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='880' height='880' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2359b594' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2360c4a0'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

		div.inner_stage {
			-moz-transform: skewY(5deg);
			-webkit-transform: skewY(5deg);
			-o-transform: skewY(5deg);
			-ms-transform: skewY(5deg);
			transform: skewY(5deg);
			max-width: 900px;
			margin: 0 auto;
			h3 {
				font-size: 24px;
				font-weight: 400;
				padding: 0px 0px 20px;
				color: #fff;
			}
			li {
				margin-bottom: 120px;
				display: grid;
				grid-gap: 20px;
				grid-template-columns: auto;
				grid-template-areas: 'text' 'image';

				div.stage_text {
					grid-area: text;
					display: flex;
					align-items: center;
					p {
						color: #fff;
						line-height: 30px;
					}
				}
				div.stage_image {
					grid-area: image;
				}
			}
			@media (min-width: 600px) {
				li:nth-child(odd) {
					display: grid;
					grid-template-columns: 260px auto;
					grid-template-areas: 'image text';
				}
				li:nth-child(even) {
					display: grid;
					grid-template-columns: auto 260px;
					grid-template-areas: 'text image';
				}
			}
		}
	}

	section.values {
		h2 {
			font-weight: 400;
		}
		p {
			font-size: 13px;
		}
		ul {
			margin: 50px 0px;
		}
		li {
			margin-bottom: 10px;
			font-size: 20px;
		}
	}
}

/* 
---------- 
Services
----------
*/

section.services {
	background-color: #f69954; //$colour_secondary-80;
	transform: skewY(-3deg);
	margin-top: 200px;
	padding: 100px 10px 500px;
	margin-bottom: -320px;
	background-color: #f69954;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ff9f57' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f6ac5d'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

	div.inner_services {
		max-width: 960px;
		margin: 0 auto;
		transform: skewY(3deg);

		h2 {
			padding: 50px;
			font-size: 40px;
			text-align: center;
			color: $colour-white;
			font-weight: 400;
		}

		#web-developer-service {
			grid-area: web;
		}
		#sales-funnel-conversion-service {
			grid-area: funnel;
		}
		#brand-and-marketing-service {
			grid-area: brand;
		}
		#project-manager-service {
			grid-area: project;
		}
		#content-creation-service {
			grid-area: content;
		}
		#sales-and-advertising-service {
			grid-area: ads;
		}
		#business-model-consultant-service {
			grid-area: model;
		}
		#print-media-design-service {
			grid-area: print;
		}

		ul.list_services {
			display: grid;
			margin: auto;
			grid-gap: 30px;
			margin-top: 80px;
			grid-template-columns: 300px;
			grid-template-rows: 450px repeat(8, auto);
			grid-template-areas: 'web' 'web' 'funnel''brand' 'project''ads'
				'content''print' 'model';

			width: 300px;
			@media (min-width: 660px) {
				grid-template-columns: repeat(2, 300px);
				grid-template-rows: 370px repeat(4, auto);
				grid-template-areas: 'web web' 'funnel brand'
					'project ads' 'content print' 'model ...';
				width: 630px;
			}
			@media (min-width: 990px) {
				grid-template-columns: repeat(3, 300px);
				grid-template-rows: repeat(3, auto);
				grid-template-areas: 'web web funnel'
					'brand project ads' 'content print model';
				width: 960px;
			}

			li {
				width: 100%;
				margin: 0 auto;
				background-color: #fff;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				cursor: pointer;

				div:first-child {
					height: 140px;
					width: 100%;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: 10px 10px 0px 0px;
				}

				div:last-child {
					width: 100%;
					padding: 20px;
					h4 {
						font-weight: 400;
						margin-bottom: 20px;
					}
					p {
						font-size: 15px;
						font-weight: 200;
					}
				}

				ul.web_list {
					padding-left: 20px;
					li {
						box-shadow: none;
						list-style-type: disc;
						display: list-item;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

/* 
---------- 
Footer
----------
*/

.contact {
	transform: skewY(-5deg);
	background-color: #f6f6f6;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: -56px;

	div.wrapper {
		transform: skewY(5deg);
		max-width: 800px;
		margin: auto;
		padding: 70px 20px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 'link''text';
		grid-gap: 20px;

		h3 {
			font-size: 30px;
		}

		a {
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			color: #000;
			font-weight: 400;
			border: 1px solid #b6b6b6;
			box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
			margin: auto;

			&:hover {
				background-color: #fb7615;
				color: #fff;
				border: 1px solid #fb7615;
			}

			@media (max-width: 580px) {
				margin-bottom: 30px;
			}
		}

		div:first-child {
			grid-area: text;
		}

		div:last-child {
			grid-area: link;
			display: flex;
			align-items: center;
		}

		@media (min-width: 580px) {
			grid-template-columns: auto auto;
			grid-template-areas: 'link text';
		}
	}
}

.footer_image {
	width: 300px;
	height: 300px;
	margin: auto;
	position: relative;
	top: -130px;
	img {
		border-radius: 50%;
		border: 4px solid #fff;
		height: 100%;
		width: 100%;
		box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
	}
}

.work_form {
	padding: 0px 0px 130px;
	color: #343434;
	border: 1px solid #e0e0e0;
	background-color: rgb(246, 246, 246);
	margin-top: 250px;

	h3 {
		text-align: center;
		font-weight: 100;
		padding: 60px 0px 30px;
		font-size: 28px;
		margin-top: -130px;
	}
	.form_name {
		grid-area: form_name;
	}
	.form_company {
		grid-area: form_company;
	}
	.form_interest {
		grid-area: form_interest;
	}
	.form_email {
		grid-area: form_email;
	}
	.form_phone {
		grid-area: form_phone;
	}
	.form_desire {
		grid-area: form_desire;
	}
	.form_objective {
		grid-area: form_objective;
	}
	.form_url {
		grid-area: form_url;
	}
	.form_optin {
		grid-area: form_optin;
	}
	.form_button {
		grid-area: form_button;
	}

	form {
		max-width: 365px;
		margin: auto;
		display: grid;
		grid-auto-columns: auto;
		grid-auto-rows: auto;
		grid-template-areas: 'form_interest' 'form_name'
			'form_company' 'form_email' 'form_phone' 'form_desire'
			'form_objective' 'form_url' 'form_optin' 'form_button';
		@media (min-width: 480px) and (max-width: 767px) {
			max-width: 445px;
		}
		@media (min-width: 768px) {
			max-width: 800px;
			grid-template-columns: 50% 50%;
			grid-template-areas: 'form_interest form_interest'
				'form_name form_company' 'form_email form_phone'
				'form_desire form_objective' 'form_url form_url'
				'form_optin form_optin' 'form_button form_button';
			.form_name,
			.form_company,
			.form_interest,
			.form_email,
			.form_phone,
			.form_desire,
			.form_objective,
			.form_url,
			.form_optin {
				padding: 0 20px;
			}
		}
	}
	label {
		display: block;
		margin-top: 25px;
		font-weight: 100;
		span {
			padding-left: 10px;
			font-size: 18px;
			color: red;
		}
	}
	input,
	textarea {
		display: block;
		width: 100%;
		padding: 15px;
		border: 1px solid #e0e0e0;
		outline: none;
		border-radius: 5px;
		margin: 0px;
		margin-top: 15px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: 100;
		background-color: #fff;
	}

	textarea {
		resize: vertical;
	}

	.radio_options {
		margin: 10px 20px 20px;
		span {
			font-weight: 100;
			display: inline-flex;
		}
	}

	.checkbox_options {
		margin-top: 0px;
		display: grid;
		grid-gap: 10px;
		grid-column: col 3 / span 2;
		grid-row: row 1;
		grid-template-columns: 50px auto;
		grid-template-rows: auto;
		.service_icon {
			grid-column: 1;
			grid-row: 1;
		}
		.optin {
			padding-top: 13px;
		}
		span {
			font-weight: 100;
			grid-column: 2;
			grid-row: 1;
		}
	}

	.radio {
		display: inline-flex;
		width: 40px;
		margin-left: 20px;
	}

	.form_button {
		width: 200px;
		margin: auto;
		margin-top: 60px;
	}

	button {
		width: 100%;
		font-size: 16px;
		padding: 15px;
		/* margin: auto; */
		outline: 0;
		border: 1px solid #fb7615;
		border-radius: 5px;
		background-color: #fb7615;
		color: #fff;
		cursor: pointer;
		&:hover {
			background-color: red;
			border: 1px solid darkred;
			color: #fff;
		}
	}
}

.error-message {
	color: red;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 10px;
}

.footer {
	background-color: #292929;
	text-align: center;
	padding-bottom: 10px;
	h4 {
		text-align: center;
		color: #fff;
		padding: 50px 10px;
		font-weight: 100;
		font-size: 25px;
	}
	.footer-menu {
		text-align: left;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: auto;
		grid-template-rows: auto;
		padding: 40px 0px 90px 20px;
		@media (min-width: 480px) and (max-width: 767px) {
			grid-template-columns: auto auto;
		}
		@media (min-width: 768px) {
			grid-template-columns: auto auto auto auto;
		}
	}

	h3 {
		color: #fff;
	}
	ul {
		padding: 20px 0px 50px;
		li {
			color: #fff;
			line-height: 26px;
			font-weight: 100;
			a {
				color: #fff;
			}
		}
	}
	.f1 .contact_box {
		@media (min-width: 768px) {
			width: 170px;
		}
	}

	.f2 .contact_box {
		@media (min-width: 768px) {
			width: 204px;
		}
	}

	.f3 .contact_box {
		@media (min-width: 768px) {
			width: 100px;
		}
	}

	.contact_box {
		width: 225px;
		margin: auto;
		a {
			color: #fff;
		}
	}
	p {
		text-align: center;
		color: #fff;
		font-weight: 100;
		padding: 10px;
		font-size: 12px;
	}
	a.builtby {
		text-align: center;
		color: #fff;
		font-weight: 100;
		// padding: 10px;
		font-size: 12px;
	}
}
