/languages
/upgrade
/uploads
/wflogs
/plugins/wordfence
/plugins/photoswipe-masonry
/plugins/multiple-post-thumbnails
/plugins/dynamic-featured-image
/plugins/all-in-one-wp-migration
/plugins/wp-scss
/themes/twentynineteen
/themes/tom_curphey/images
/ai1wm-backups 

